<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - ZoDream</title>
    <meta name="Keywords" content="zodream,个人日记,typescript,vue.js教程,php开发,php框架,uwp,angular,编程入门" />
    <meta name="Description" content="@Localizer["简单的个人编程日记"]" />
    <meta name="author" content="zodream" />
    <link rel="icon" href="~/assets/images/favicon.png">
    <link type="text/css" href="~/assets/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link type="text/css" href="~/assets/css/zodream.min.css" rel="stylesheet" media="all">
    <link type="text/css" href="~/assets/css/animate.min.css" rel="stylesheet" media="all">
    <link type="text/css" href="~/assets/css/home.min.css" rel="stylesheet" media="all">
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <div class="container">
            <div class="nav-horizontal-bar">
                <span class="nav-bar-toggle"></span>
                <ul>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">首页</a></li>
                    <li><a asp-area="Blog" asp-controller="Home" asp-action="Index">博客</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="FriendLink">友情链接</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">关于</a></li>
                </ul>
            </div>
        </div>
    </header>

    @RenderBody()

    <footer>
        <div class="container">
            <friend-link title="友情链接"></friend-link>
            <div class="copyright">
                <a href="http://www.beian.miit.gov.cn" target="_blank">湘ICP备16003508号</a>
                <p>
                    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=43052402000190">
                        <img src="~/assets/images/beian.png" alt="备案图标">
                        湘公网安备 43052402000190号
                    </a>
                </p>
            </div>
        </div>
    </footer>

    <partial name="_CookieConsentPartial" />
    <environment include="Development">
        <script src="~/assets/js/jquery.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
    </environment>

    <script src="~/assets/js/js.cookie.min.js"></script>
    <script src="~/assets/js/jquery.lazyload.min.js"></script>
    <script src="~/assets/js/home.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>

