@using NetDream.Modules.Blog.Models;
@using NPoco;
@using NetDream.Core.Helpers;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, NetDream.Web
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var items = ViewData["items"] as Page<BlogModel>;
    var pageIndex = (int)ViewData["pageIndex"];
}

@section Styles {
    <link type="text/css" href="~/assets/css/blog.css" rel="stylesheet" media="all">
}
<div id="book-page" class="book-skin">
    <div class="book-title">
        <ul class="book-nav">
            <li class="book-navicon">
                <i class="fa fa-bars"></i>
            </li>
            <li class="active">
                <a asp-area="Blog" asp-controller="Home" asp-action="Index">博客</a>
            </li>
        </ul>
    </div>


    <div class="book-sidebar">
        <div class="book-chapter">
            <ul>
                @foreach (var item in ViewData["categories"] as List<CategoryModel>)
                {
                    <li>
                        <i class="fa fa-bookmark"></i>
                        <a href="" title="@item.Name">@item.Name</a>
                        @if (item.BlogCount > 99)
                        {
                            <span class="count">
                                +99
                            </span>
                        }
                        else if (item.BlogCount > 0)
                        {
                            <span class="count">
                                @item.BlogCount
                            </span>
                        }
                    </li>
                }
            </ul>
        </div>
        <div class="book-new">
            <h3>最新博客</h3>
            <ul>
                @foreach (var item in ViewData["newItems"] as List<BlogModel>)
                {
                    <li>
                        <i class="fa fa-bookmark"></i><a href="">@item.Title</a>
                    </li>
                }
            </ul>
        </div>
    </div>

    <div class="book-body">
        <div class="book-sort">
            <a asp-area="Blog" asp-controller="Tag" asp-action="Index">标签</a>
            <a asp-area="Blog" asp-controller="Archives" asp-action="Index">归档</a>
            <a href="">推荐</a>
            <a href="">最新</a>
            <a href="">最热</a>
        </div>
        @foreach (var item in items.Items)
        {
            <dl class="book-item">
                <dt>
                    <a href="@Url.Action("Detail", new { id= item.Id })" title="@item.Title">@item.Title</a>
                    <span class="book-time">@Time.FormatAgo(item.CreatedAt)</span>
                </dt>
                <dd>
                    <p>@item.Description</p>
                    <a class="author" href=""><i class="fa fa-edit"></i><b></b></a>
                    <span class="comment"><i class="fa fa-comments"></i><b>@item.CommentCount</b></span>
                    <span class="agree"><i class="fas fa-thumbs-up"></i><b>@item.RecommendCount</b></span>
                    <span class="click"><i class="fa fa-eye"></i><b>@item.ClickCount</b></span>
                </dd>
            </dl>
        }
    </div>
    <div class="book-footer">
        <pagination url="@ViewData["fullUrl"]" total="@items.TotalItems" page="@pageIndex"></pagination>
        <div class="book-clear"></div>
    </div>

</div>


@section Scripts {
    <script src="~/assets/js/blog.min.js"></script>
    <script>
        var BASE_URI = '/Blog/';
        bindBlogPage();
    </script>
}
